.cta-button{
    padding: 12px 24px;
    border-radius: 5px;
    border: none;
    background-color: #6a1b9a;
    color: #fff;
    font-size: 1rem;
    font-family: 'Courier New', Courier, monospace;
    
}

.cta-button:hover{
    transition-duration: 0.2s ;
    transform: scale(1.2);
}
