body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

.notification{
    background-color: #3CAF50;
    padding: 20px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}

.container{
    display: flex;
    min-height: 200px;
}

.sidebar{
    width: 200px;
    background-color: #8DEB94;
    /* border-top: 1px solid #000; */
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
    padding: 20px;
    /* border-right: 1px solid #000; */
    
}

.sidebar h2{
    font-size: 18px;
    margin-bottom: 10px;
    text-align: center;
}

.sidebar a{
    display: block;
    text-decoration: none;
    text-align: justify;
    margin: 6px 0;
    padding: 5px;
    border-radius: 4px;
    color: #000;
    transition: background-color 0.2s ease;
}

.sidebar a:hover{
    background-color: #262221;
    color: #fff;
    transform: scale(5px);
}

.droptown{
    margin-top: 15px;
}

.droptown-btn{
    display: block;
    cursor: pointer;
    padding: 5px;
    border-radius: 4px;
    background-color: #262221;
    color: #fff;
    
}

.droptown-content{
    visibility: hidden;
    cursor: pointer;
    margin-top: 5px;
}

.droptown-content a{
    font-size: 16px;
    padding-left: 5px;
}

.droptown:hover .droptown-content{
    visibility: visible;
}

/* Contenido */

.content{
    flex: 1;
    padding: 30px;
    background: #fff;
}

.content h1{
    margin-top: 0;
}

.content img{
    width: 35%;
    height: 45%;
    border-radius: 8px;
    margin: 15px 0;
}

.tooltip{
    position: relative;
    border-bottom: 1px dotted #333;
    cursor: help;
    color: #0077ff;
}
.content p{
    text-align: justify;
}
.tooltip-text{
    visibility: hidden;
    width: 160px;
    background-color: #33fbe6;
    color: #000;
    text-align: justify;
    padding: 6px;
    border-radius: 6px;
    position: absolute;
    left: 105%;
    bottom: -145%;
    z-index: 1;
    transform: translateY(-50%);
}



.tooltip:hover .tooltip-text{
    visibility: visible;
}