body{
    background-color: #90ee90;
}

h1{
    padding: 20px;
    background-color: #00f;
    color: #fff;
    border-radius: 15px 5px;
}

.primero{
    color: #00f;
    font-size: 24px;
}

.first-p{
    color: #000;
    font-size: 28px;
}