body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #80F292;
}
.hero{
    background-color: #15521F;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1{
    color: #fff;
    font-size: 40px;

}

.hero p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: #9ca109;
}

.btn:active{
    transform: scale(0.96);
    color: #000;
    box-sizing: 1px 1px 1px  rgba(0,0,0,0.3);
}

.btn{
    transition-duration: 0.5s;
}

.features{
    padding: 60px 20px;
    text-align: center;

}

.section-tittle{
    font-size: 2rem;
    color: #333;
    margin-bottom: 40px;

}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.btn{
    background-color: #ff9933;
    color: #fff;
    padding: 12px 24px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    transition: background-color 0.3s ease, transform 0.1s ease;
    text-decoration: none;
}
