body{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:  #80F292;
}
.hero{
    background-color: #15521F;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.hero h1{
    color: #fff;
    font-size: 40px;

}

.hero p{
    color: #fff;
    font-size: 15px;
    margin-bottom: 20px;
}

.btn:hover{
    background-color: #F8FF36;
}

.btn:active{
    color: #000;
    box-sizing: 1px 1px 1px  rgba(0,0,0,0.3);
}

.btn{
    transition-duration: 0.5s;
}

.features{
    padding: 50px;
    text-align: center;
}

.section-tittles{
    font-size: 35px;
    color: #15521F;
    line-height: 1px;

}
.cards{
    display: flex;
}

Estiliza la sección .features con algo de relleno y texto centrado.
Estiliza el .section-title para que destaque — cambia el tamaño de la fuente, el color y añade espacio debajo.
Usa Flexbox en el contenedor .cards para alinear las tarjetas en una fila. Asegúrate de que se ajusten si es necesario y tengan algo de espacio entre ellas.