body{
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
}

.header{
    background-color: #afe1e3;
    text-align: center;
    font-size: 16px;
}

.container{
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "header header header" 
    "img1 img2 img3";
}

.header{
    grid-area: header;
}
.img1{
    grid-area: img1;
}
.img2{
    grid-area: img2;
}
.img3{
    grid-area: img3;
}