.container{
    height: 100vh;
    gap: 10px;
}

.header{
    background-color: #f1c40f;
    padding: 20px;
}

.profile{
    background-color: #3498db;
    padding: 20px;
}

.main{
    background-color: #2ecc71;
    padding: 20px;
}

.footer{
    background-color: #e74c3c;
    padding: 20px;
}