:root{
    --base-font-size: 16px; 
}

body{
    font-size: var(--base-font-size);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;
    background-color: #f0f8ff;
    color: #333;
}

header{
    background: url('https://upload.wikimedia.org/wikipedia/commons/a/af/Female_polar_bear_%28Ursus_maritimus%29_with_cub%2C_Svalbard.jpg')center/cover no-repeat;
    color: #fff;
    text-align: center;
    padding: 50px 20px;
}

header h1{
    margin: 0;
    font-size: 16px;
} 

.subtittle{
    margin-top: 10px;
    font-size: 1rem;
    opacity: 0.9;
}

main{
    padding: 20px;
}

h2{
    color: #2c6e91;
    font-size: 1.25rem;
}

ul{
    padding-left: 20px;
}

li{
    margin-bottom: 10px;
}

footer{
    background-color: #2c6e91;
    padding: 20px;
    color: #fff;
    text-align: center;
    font-size: 0.9rem;
}

@media(min-width: 768px){
        header h1{
            font-size: 36px;
        }

        p{
            font-size: 20px;
        }
}